<div>
    <div class="col-sm-3" id="{{kid.$id}}" ng-repeat="kid in kids | orderBy:'last' | filter:search">
    	<span class="btn btn-{{isPresent(kid, 'in') ? 'success' : 'warning'}} kid" ng-click="toggle(kid, 'in')">
    		<span class="glyphicon glyphicon-{{isPresent(kid, 'in') ? 'ok' : 'remove'}} fix-right"></span>
    		<span class="u-center"><img src="img/logo.png" /></span>
			<div class="text-left">
				<span id="first">{{kid.first}}</span>
				<br />
				<span id="last">{{kid.last}}</span>
			</div>
    	</span>
    </div>
</div>
